.addIcon{
    margin-bottom: 1%;
}
.thead{
    background-color: #060b26;
    color:#fff;
    position: sticky;
    top: 65px;
    /* height: 155px; */
}
.btn1{
    background-color: #F6F1E9;
    border-radius:70%;
}
